<div class="container">

    <h2>Bienvenido a la aplicacion "El sazon de la abuela"</h2>

    <p class="p_inicial">Ingresa por el menu o por los enlaces</p>

    <section class="col-">

        <div>
            <a [routerLink]="['/producto/list']" routerLinkActive="active" ><i class="fas fa-utensils fa-10x"></i></a>
            <p>Lista de Productos Creados</p>
        </div>

        <div>
            <a [routerLink]="['/domicilio/list']" routerLinkActive="router-link-active" ><i class="fas fa-biking fa-10x"></i></a>
            <p>Lista de Domicilios</p>
        </div>

    </section>


</div>